/* Just plain old CSS. This section is for all styles that will go for all
viewport sizes. Also this is for small screen specific. You can always override
below in the MediaQueries for LARGER screens.*/

/*make all changed to the mobile here*/
body  {

      background:url(desktop_mockup.png);
      background-size: cover; /* Makes BG Image span whole window */
      font-family: 'Poiret One', cursive;
	}

   .wrapper {
        width:100%;
        background-color:rgba(255,255,255,0.5); /*Adds transparent white color to wrapper bg */
        overflow:auto;
      }



	.numbernav img {
    	width: 48%;
	}

	.posebox{
		width: 100%;
		opacity: 0.5;
	}

  .numbernav {
    width: 100%;
  }

	.box2{
		/* width:500px; */ /* Moved from px to % */
    width:100%;
		float: right;
	}



/*******  BEGIN MEDIA QUERIES *******/
/* 481px - 768px mobile */
@media screen and (min-width:480px) {
        
        .numbernav{
           	width: 48%;
           	float: left;
           	/*padding-right: 25px;*/
        }

    .box2 {
      width:48%;
    }
        
    .wrapper {
        width:100%;
      }

        .numbernav img{
        	width: 48%;
        }
        
        .posebox img{
        	/*max-width: 100%;*/
		}
		

		.description img{
			width: 49%;
		}
		

        
        
        
}





/* 768px - 1024px tablet*/
@media screen and (min-width:768px) {

      	body{
           /* background: #00FF00;  */ /* Green */
            /* background:url(desktop_mockup.png) no-repeat; */

            /* No need to declare the background again if written outside of media queries. It will span all of these */
		}
		
	.wrapper {
        width:100%;
        margin:0 auto; /*Centers the DIV */
      }
		
		.numbernav{
           	width: 325px;
           	float: left;
        }
	
		.numbernav img{
        	width: 49%;
        }
        
  	 	.intro{
       		background-color: red;
		}    
       
       
       p.description{
       	font-family: 'georgia', serif;
       	margin-left: 20px;
       	margin-right: 20px;
       	}
		
        
		
}




/* 1024px and Larger  */
@media screen and (min-width:1024px) {
      body  {

      } 


      .wrapper {
        width:1100px;
        margin:0 auto; /*Centers the DIV */
      }


      .numbernav{
           	width: 325px;
           	float: left;
           
        }
	        
	    .numbernav img{
        	width: 150px;
        }
        
		.posebox{
			float: left;
			width: 500px;
		}
           
        .posebox img{
        	width: 500px;	
        
		}
		
		description img{
			width: 150px;
		}
    

}

