/* Just plain old CSS. This section is for all styles that will go for all
viewport sizes. Also this is for small screen specific. You can always override
below in the MediaQueries for LARGER screens.*/

/*make all changed to the mobile here*/
body  {
      /*background: #000000; */ /* Black */
      background:url(desktop_mockup.png);
      font-family: 'Poiret One', cursive;

}

p{
	font-family: 'georgia', serif;
	/*opacity: 0.3;
	background-color: hsla(0, 100%, 50%, 0.5);*/
	padding: 10px;
	line-height: 24px;
}

h1{
	text-align: right;
	color: #f9e498;
	margin-top: 30px;
	padding-right: 4px;
}

h2{
	color: #f9e498;
	font-size: 20px;
}

	.numbernav img {
    			width: 49%;
}

	.posebox{
		width: 49%;
		opacity: 0.5;
	}

	.box{
  		border-bottom: 1px #f9e498;
  		font-size: 30px;
  	} 


/*******  BEGIN MEDIA QUERIES *******/
/* 481px - 768px mobile */
@media screen and (min-width:480px) {
        
        .numbernav{
           	width: 325px;
           	float: left;
           	/*padding-right: 25px;*/
        }
        
        .numbernav img{
        	width: 49%;
        }
        
        .posebox img{
        	/*max-width: 100%;*/
		}
		

		description img{
			width: 49%;
		}
        
        
        
}





/* 768px - 1024px tablet*/
@media screen and (min-width:768px) {

      	body{
           /* background: #00FF00;  */ /* Green */
            background:url(desktop_mockup.png) no-repeat;
		}
	
		
		.numbernav{
           	width: 325px;
           	float: left;
        }
	
		.numbernav img{
        	width: 49%;
        }
        
        .posebox img{
        
		}
		
		.description img{
			
		}
		
		
        
        
	
		
}




/* 1024px and Larger  */
@media screen and (min-width:1024px) {
      body  {

} 
        .numbernav{
           	width: 325px;
           	float: left;
           
        }
	        
	    .numbernav img{
        	width: 150px;
        }
        
		.posebox{
			float: left;
			width: 500px;
		}
           
        .posebox img{
        	width: 500px;	
        
		}
		
		description img{
			width: 150px;
		}
    

}

