/* Just plain old CSS. This section is for all styles that will go for all
viewport sizes. Also this is for small screen specific. You can always override
below in the MediaQueries for LARGER screens.*/


body  {
      background: #000000; /* Black */
      font-family: 'Poiret One', cursive;

}

	.numbernav img {
    			width: 49%;
}


/*******  BEGIN MEDIA QUERIES *******/
/* 481px - 768px */
@media screen and (min-width:480px) {
      body  {
      
        	background:url(desktop_mockup.png) no-repeat;
				
        } 
        
        .numbernav{
           	width: 325px;
           	float: left;
           
           }
        
        .numbernav img{
        			width: 49%;
        }
        
        
        
}





/* 768px - 1024px */
@media screen and (min-width:768px) {
      body  {
            background: #00FF00;   /* Green */
            
		} 
	
		
		.numbernav{
           	width: 325px;
           	float: left;
           
           }
	
		.numbernav img{
        			width: 15%;
        }
	
		
}




/* 1024px and Larger  */
@media screen and (min-width:1024px) {
      body  {
      
    
} 
           .numbernav{
           	width: 325px;
           	float: left;
           
           }
	        
	        	.numbernav img{
        			width: 150px;
        }
    

}

