/* Just plain old CSS. This section is for all styles that will go for all
viewport sizes. Also this is for small screen specific. You can always override
below in the MediaQueries for LARGER screens.*/

/*make all changed to the mobile here*/
body  {
      /*background: #000000; */ /* Black */
      background:url(desktop_mockup.png);
      background-size: cover; /* as the webpage gets longer, the image gets larger too */
      /*background-size: 1100px;*/
      font-family: 'Poiret One', cursive;

}

p{
	font-family: 'georgia', serif;
	padding: 10px;
	line-height: 24px;
}

h1{
	/*text-align: right;
	color: #f9e498;*/
	margin-top: 30px;
	padding-right: 4px;
}

h2{
	color: #f9e498;
	font-size: 30px;
}

	.wrapper {
        width:100%;
        background-color:rgba(255,255,255,0.5); /*Adds transparent white color to wrapper bg */
        overflow:auto;
      }

	.numbernav img {
    			width: 48%;
}

	.nubernav{
	width: 100%;
}

	img {
		/*width: 48%;*/ /* use this to change the size of the images */
		opacity: 0.5;
	}

	.box{
  		border-bottom: 1px #f9e498;
  		font-size: 30px;
  	} 
  	
  	.logo{
  		width: 100% no repeat;
  	}


/*******  BEGIN MEDIA QUERIES *******/
/* 481px - 768px mobile */
@media screen and (min-width:480px) {
        
        .numbernav{
           	width: 48%;
           	float: left;
           	/*padding-right: 25px;*/
        }
        
        .numbernav img{
        	width: 48%;
        }
        
        .posebox img{
        	/*max-width: 100%;*/
		}

		.wrapper{
			width: 100%;
		}
		

		.description img{
			width: 49%;
		}

		.box2{
			width: 48%;
		}
		

        
        
        
}





/* 768px - 1024px tablet*/
@media screen and (min-width:768px) {

      	body{}
		
		
		.box2{
			float: right;
			width: 48%;		
		}
	
		.wrapper{
			width: 100%;
			margin: 0 auto;
		}
		
		.numbernav{
           	width: 325px;
           	float: left;
        }
	
		.numbernav img{
        	width: 49%;
        }
        
        .posebox{
        	float:right;
        }
        
        .posebox img{
        	float:right;
		}

		.intro{
       		background-color: red;
		}    
		
		p.description img{	
			font-family: 'georgia', serif;
			margin-left: 20px;
			margin-right: 20px;
		}
		
		.tree{
			float:right;
		} /* not sure what this is */
		
		/*p{
			background-color: #f9e498;
			width: 600px;
			float: right;
		}
		
		h2{
			color: #f9e498;
			font-size: 20px;
			float:right; 
		
		}
		
		h1{
			float:right;
		}*/
		
		
		
        
        
	
		
}




/* 1024px and Larger  */
@media screen and (min-width:1024px) {
      body{} 

		.wrapper{
			width: 1100px;
			margin: 0 auto;
		}

        .numbernav{
           	width: 325px;
           	float: left;
        }
	        
	    .numbernav img{
        	width: 150px;
        }
        
		.posebox{
			float: left;
			width: 500px;
		}
           
        .posebox img{
        	width: 500px;	
		}
		
		.description img{
			width: 150px;
		}

		.box{
			width: 48%;
		}
    

}

